h1, h2, h3, h4, p, table {
font-family: 'Open Sans', sans-serif;
}
.sidenav {
margin-top: 20px;
margin-bottom: 30px;
padding-top: 10px;
padding-bottom: 10px;
background-color: #f7f5fa;
border-radius: 5px;
}
 
.bs-docs-sidebar .nav > li > a {
display: block;
color: #716b7a;
padding: 5px 20px;
}
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
text-decoration: none;
background-color: #e5e3e9;
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
font-weight: bold;
color: #563d7c;
background-color: transparent;
}
 
/* Nav: second level */
.bs-docs-sidebar .nav .nav {
display: none;
}
.bs-docs-sidebar .nav > li.active .nav {
display:block;
}
.bs-docs-sidebar .nav .nav {
margin-bottom: 8px;
}
.bs-docs-sidebar .nav .nav > li > a {
padding-top: 3px;
padding-bottom: 3px;
padding-left: 30px;
font-size: 90%;
}
ul.organizationList {
width:710px;
margin:10px auto;
}
ul.organizationList li {
width:710px;
margin:0;
padding:10px 0;
clear:both;
display:block;
text-indent:0px;
}
ul.organizationList li p.photo {
width:120px;
margin: 0 10px 0 0;
text-align:center;
float:left;
}
ul.organizationList li p.text {
width:570px;
margin: 0;
float:right;
}
ul.organizationList li p.text .name {
width:560px;
margin-bottom:5px;
padding:5px 0 5px 10px;
font-weight:bold;
background:#d6f3f5;
display:block;
}
p.updateList {
overflow:scroll;
height:100px;
}
